@font-face {
    font-family: "Ruthligos";
    src: url("../fonts/Ruthligos.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-neutral-100: rgba(255, 255, 255, 1);
    --clr-neutral-200: rgba(231, 148, 213, 1);
    --clr-neutral-300: rgba(186, 34, 156, 1);
    --clr-neutral-400: rgba(54, 12, 45, 1);
    --clr-neutral-500: rgba(23, 8, 20, 1);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--clr-neutral-500);
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url("../images/landing-banner.jpg") center/cover no-repeat;
}

@media screen and (max-width: 576px) {
    .hero {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0.85)
            ),
            url("../images/landing-banner mob.jpg") center/cover no-repeat;
    }
}

.hero-heading {
    font-size: clamp(4rem, 15vw, 15rem);
    color: var(--clr-neutral-100);
    font-family: "Ruthligos", cursive;
    font-weight: 100;
    opacity: 0;
    padding-left: 5.5rem;
}

@media screen and (max-width: 768px) {
    .hero-heading {
        padding-left: 2rem;
    }
}

.blurredbg {
    backdrop-filter: blur(1.5px);
}

.navigation-bar {
    background: rgba(177, 26, 147, 0.2);
    backdrop-filter: blur(10px);
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media screen and (max-width: 576px) {
    .navigation-bar {
        display: none;
    }
}

.navigation-bar:hover {
    background: rgba(177, 26, 147, 0.5);
}

.navigation-bar ul {
    display: flex;
    gap: clamp(1rem, 5vw, 4rem);
    list-style: none;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 5rem);
    color: var(--clr-neutral-300);
    font-weight: 600;
    transition: color 0.2s;
}

.navigation-bar ul li a:hover {
    color: transparent;
    -webkit-text-stroke: 1px var(--clr-neutral-300);
}

@media screen and (min-width: 576px) {
    .navigation-bar-mobile > .nav-bar-toggle-btn > svg {
        display: none;
    }

    .navigation-bar-mobile > .nav-bar-toggle-btn > svg.hidden {
        display: none;
    }
    .nav-bar-toggle-btn {
        display: none;
    }

    .navigation-bar-mobile-links {
        display: none;
    }

    .navigation-bar-mobile-links.active {
        display: none;
    }
    .navigation-bar-mobile-links ul {
        display: none;
    }
    .navigation-bar-mobile-links li {
        display: none;
    }
    .navigation-bar-mobile-links ul a {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .navigation-bar-mobile > .nav-bar-toggle-btn > svg {
        position: fixed;
        bottom: 3.75rem;
        right: 3.35rem;
        z-index: 1000;
        cursor: pointer;
    }

    .navigation-bar-mobile > .nav-bar-toggle-btn > svg.hidden {
        visibility: hidden;
    }
    .nav-bar-toggle-btn {
        background-color: black;
        width: 4rem;
        aspect-ratio: 1;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        z-index: 1000;
        border-radius: 50%;
    }

    .navigation-bar-mobile-links {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px);
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navigation-bar-mobile-links.active {
        display: none;
    }
    .navigation-bar-mobile-links ul {
        width: 100%;
        height: 100vh;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navigation-bar-mobile-links li {
        transform: translateY(-1000%);
    }
    .navigation-bar-mobile-links ul a {
        text-decoration: none;
        color: var(--clr-neutral-100);
        font-size: 3rem;
        font-weight: 600;
    }
}

.section1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.my-description {
    margin-top: clamp(2rem, 4vw, 4.8rem);
    padding-bottom: 6rem;
}

.my-description section {
    padding-top: clamp(4.8rem, 7.2vw, 7.2rem);
}

.my-description h2 {
    font-size: clamp(4.7rem, 7.9vw, 7.2rem);
    font-family: "Rozha One", serif;
    color: var(--clr-neutral-100);
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-160%);
    line-height: 0.8;
}

@media screen and (max-width: 768px) {
    .my-description h2 {
        text-align: center;
    }
}

.my-description p {
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(1.35rem, 1.6vw, 5.4rem);

    font-weight: 300;
    opacity: 0;
    transform: translateX(-180%);
}

@media screen and (max-width: 768px) {
    .my-description p {
        text-align: center;
        padding-inline: 5.5rem;
    }
}

.my-description img {
    border-radius: 2rem;
    width: 75%;
    height: auto;
    object-fit: cover;
    transform: translateX(160%);
    opacity: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.my-description button {
    width: 14.4rem;
    height: 3.6rem;
    background: var(--clr-neutral-300);
    border-radius: 50px;
    border: none;
    color: var(--clr-neutral-500);
    font-weight: 400;
    font-size: 1.8rem;
    transition: transform 200ms ease-out, box-shadow 200ms ease-out;
    margin-top: 1.2rem;
    opacity: 0;
    transform: translateX(-180%);
}

.my-description button:hover {
    transform: translateY(-0.36rem);
    box-shadow: 0.36rem 0.36rem 0 var(--clr-neutral-200);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .center-on-small-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.waves-divider {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: translateY(100%);
}

.waves-divider > svg > path {
    width: 120%;
}

.section2 {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-neutral-200);
    position: relative;
    overflow-y: hidden;
}

.portfolioHeading {
    width: fit-content;
    display: inline-block;
    font-family: "Rozha One", serif;
    font-size: clamp(3.7rem, 6.5vw, 8rem);
    color: var(--clr-neutral-500);
    line-height: 1;
    transform: translateX(-120%);
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .portfolioHeading {
        text-align: center;
    }
}

.portfolioSubHeading {
    width: fit-content;
    display: inline-block;
    font-family: "Rozha One", serif;
    font-size: clamp(1.75rem, 3vw, 6rem);
    color: var(--clr-neutral-400);
}

.portfolioSubHeading > a {
    text-decoration: none;
    color: var(--clr-neutral-400);
}
.portfolioSubHeading > a:hover {
    color: #58164a;
}

.op-mil-inv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 158, 234, 1);
    border-radius: 2rem;
    gap: 2rem;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

.op-mil-inv > img {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.op-mil-inv > img:nth-child(1) {
    grid-row: 1/3;
}

.op-mil-inv > img:nth-child(2) {
    grid-column: 2/4;
}

.op-mil-inv > img:nth-child(5) {
    grid-column: 3/5;
}

@media screen and (max-width: 1000px) {
    .op-mil-inv {
        gap: 1rem;
        padding: 1rem;
    }

    .op-mil-inv > img:nth-child(1) {
        grid-row: 1/2;
    }

    .op-mil-inv > img:nth-child(2) {
        grid-column: 2/5;
    }

    .op-mil-inv > img:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .op-mil-inv > img:nth-child(4) {
        display: none;
    }

    .op-mil-inv > img:nth-child(5) {
        grid-column: 2/5;
        max-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .op-mil-inv {
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .op-mil-inv > img {
        width: 100%;
    }

    .op-mil-inv > img:nth-child(1) {
        grid-row: 1/3;
    }

    .op-mil-inv > img:nth-child(2) {
        grid-column: 1/3;
    }

    .op-mil-inv > img:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .op-mil-inv > img:nth-child(4) {
        display: inline-block;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .op-mil-inv > img:nth-child(5) {
        grid-column: 1/3;
        max-height: 100%;
    }
}

.portfolioItems {
    opacity: 0;
}

.section3 {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-neutral-100);
    overflow-x: hidden;
}

.peak-divider {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

.contactHeading {
    width: fit-content;
    display: inline-block;
    font-family: "Rozha One", serif;
    font-size: clamp(3.7rem, 6.5vw, 8rem);
    color: var(--clr-neutral-500);
    line-height: 1;
    transform: translateX(-120%);
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .contactHeading {
        text-align: center;
    }
}

.contactSubHeading {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    opacity: 0;
}

.contactSubHeading > h4 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-neutral-400);
}

.contactSubHeading > p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.contactSubHeading > p a {
    text-decoration: none;
    color: var(--clr-neutral-400);
}

.social-media-circle {
    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.social-media-circle img {
    width: 3rem;
    aspect-ratio: 1;
}

.social-media-circle a:nth-child(1) {
    position: absolute;
    top: 0;
    left: 9.5rem;
}

.social-media-circle a:nth-child(2) {
    position: absolute;
    top: 11rem;
    left: 1.5rem;
}

.social-media-circle a:nth-child(3) {
    position: absolute;
    top: 11rem;
    right: 1.5rem;
}

.contactForm {
    background-color: rgba(255, 209, 245, 0.3);
    padding: 1rem;
    border-radius: 2rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    margin-inline: 2rem;
    opacity: 0;
}

.contactForm label {
    font-family: "Lora", serif;
    font-weight: 700;
    color: var(--clr-neutral-400);
    font-size: 1.5rem;
    display: block;
}

.contactForm input,
.contactForm textarea {
    font-family: "Lora", serif;
    font-weight: 400;
    color: var(--clr-neutral-300);
    font-size: 1rem;
    display: block;
    background-color: #ffd6f6;
    border: none;
    width: 100%;
    border-radius: 1rem;
    padding-inline: 1rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.contactForm input {
    height: 3rem;
}

::placeholder {
    color: rgba(231, 148, 213, 0.5);
    opacity: 1;
}

::-moz-placeholder {
    color: rgba(231, 148, 213, 0.5);
    opacity: 1;
}
::-webkit-input-placeholder {
    color: rgba(231, 148, 213, 0.5);
    opacity: 1;
}

.contactForm button {
    background-color: #ff59db;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-family: "Lora", serif;
    font-weight: 700;
    color: var(--clr-neutral-400);
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-left: auto;
    display: block;
}

footer {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: white;
}

footer > svg {
    height: fit-content;
}
footer > p {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    left: 40%;
    color: white;
}

@media screen and (max-width: 768px) {
    footer > p {
        left: 35%;
    }
}

@media screen and (max-width: 576px) {
    footer > p {
        left: 30%;
    }
}

.step-divider {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.pb-5rem {
    padding-bottom: 5rem;
}
