@font-face {
    font-family: "Ruthligos";
    src: url("../fonts/Ruthligos.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --clr-neutral-100: rgba(255, 255, 255, 1);
    --clr-neutral-200: rgba(231, 148, 213, 1);
    --clr-neutral-300: rgba(186, 34, 156, 1);
    --clr-neutral-400: rgba(54, 12, 45, 1);
    --clr-neutral-500: rgba(23, 8, 20, 1);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--clr-neutral-500);
    /* overflow-x: hidden; */
    /* width: 100vw; */
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url("../images/landing-banner.jpg") center/cover no-repeat;
}

@media screen and (max-width: 576px) {
    .hero {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.85),
                rgba(0, 0, 0, 0.85)
            ),
            url("../images/landing-banner mob.jpg") center/cover no-repeat;
    }
}

.hero-heading {
    font-size: clamp(4rem, 15vw, 15rem);
    color: var(--clr-neutral-100);
    font-family: "Ruthligos", cursive;
    font-weight: 100;
    opacity: 0;

    animation: fadeInAnimation ease-out 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    padding-left: 5.5rem;
}

@media screen and (max-width: 768px) {
    .hero-heading {
        padding-left: 2rem;
    }
}

.blurredbg {
    backdrop-filter: blur(1.5px);
}

.navigation-bar {
    background: rgba(177, 26, 147, 0.2);
    backdrop-filter: blur(10px);
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation-bar:hover {
    background: rgba(177, 26, 147, 0.5);
}

.navigation-bar ul {
    display: flex;
    gap: clamp(1rem, 5vw, 4rem);
    list-style: none;
    justify-content: center;

    /* position: sticky;
    top: 0; */
    margin-bottom: 0;
    padding: 0;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 5rem);
    color: var(--clr-neutral-300);
    font-weight: 600;
    transition: color 0.2s;
}

.navigation-bar ul li a:hover {
    color: transparent;
    -webkit-text-stroke: 1px var(--clr-neutral-300);
}

.section1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.my-description {
    /* display: flex; */
    margin-top: clamp(2rem, 4vw, 4.8rem);
    padding-bottom: 6rem;
}

.my-description section {
    padding-top: clamp(4.8rem, 7.2vw, 7.2rem);
}

.my-description h2 {
    font-size: clamp(4.7rem, 7.9vw, 7.2rem);
    font-family: "Rozha One";
    /* font-weight: 700; */
    color: var(--clr-neutral-100);
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-160%);
    line-height: 0.8;
}

@media screen and (max-width: 768px) {
    .my-description h2 {
        text-align: center;
    }
}

.my-description p {
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(1.35rem, 1.6vw, 5.4rem);

    font-weight: 300;
    opacity: 0;
    transform: translateX(-180%);
}

@media screen and (max-width: 768px) {
    .my-description p {
        text-align: center;
        padding-inline: 5.5rem;
    }
}

.my-description img {
    border-radius: 2rem;
    width: 75%;
    height: auto;
    object-fit: cover;
    transform: translateX(160%);
    opacity: 0;
}

.my-description button {
    width: 14.4rem;
    height: 3.6rem;
    background: var(--clr-neutral-300);
    border-radius: 50px;
    border: none;
    color: var(--clr-neutral-500);
    font-weight: 400;
    font-size: 1.8rem;
    transition: transform 200ms ease-out, box-shadow 200ms ease-out;
    margin-top: 1.2rem;
    opacity: 0;
    transform: translateX(-180%);
}

.my-description button:hover {
    transform: translateY(-0.36rem);
    box-shadow: 0.36rem 0.36rem 0 var(--clr-neutral-200);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .center-on-small-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.waves-divider {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transform: translateY(100%);
}

.waves-divider > svg > path {
    width: 120%;
}

.section2 {
    width: 100%;
    min-height: 100vh;
    background-color: var(--clr-neutral-200);
}
