@font-face {
    font-family: "Ruthligos";
    src: url("../fonts/Ruthligos.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-neutral-900: rgba(43, 0, 0, 1);
    --clr-neutral-100: rgba(253, 227, 167, 1);
    --clr-neutral-200: rgba(255, 164, 94, 1);
    --clr-neutral-800: rgba(116, 2, 2, 1);
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--clr-neutral-200);
}

header.landing-banner {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url("../images/landing-banner.jpg") center/cover no-repeat;
    width: auto;
    height: 100vh;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-banner h1 {
    font-size: clamp(7rem, 20vw, 15rem);
    color: var(--clr-neutral-200);
    font-family: "Ruthligos", cursive;
}

@media screen and (max-width: 768px) {
    .landing-banner h1 {
        padding-left: 1rem;
    }
}

.navigation-bar {
    background: rgba(85, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 1rem;
    /* width: 100%;
    position: sticky;
    top: 0; */
}

.navigation-bar ul {
    display: flex;
    gap: clamp(1rem, 5vw, 4rem);
    list-style: none;
    justify-content: center;

    /* position: sticky;
    top: 0; */
    margin-bottom: 0;
    padding: 0;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 5rem);
    color: var(--clr-neutral-100);
    font-weight: 600;
    transition: color 0.2s;
}

/* @media screen and (max-width: 768px) {
    .navigation-bar ul li a {
        font-size: 1.5rem;
    }
} */

.navigation-bar ul li a:hover {
    color: transparent;
    -webkit-text-stroke: 1px var(--clr-neutral-100);
}

.my-description {
    /* display: flex; */
    margin-top: clamp(4rem, 5vw, 5rem);
    padding: 4rem;
}

/* .my-description > * {
    flex: 1;
} */

.my-description section {
    padding-top: clamp(4rem, 6vw, 6rem);
}

.my-description h2 {
    font-size: clamp(4rem, 6vw, 6rem);
    font-weight: 700;
    color: var(--clr-neutral-900);
}

.my-description p {
    /* text-align: justify; */
    color: var(--clr-neutral-800);
    font-size: clamp(1.7rem, 2.75vw, 4.5rem);
}

.my-description img {
    border-radius: 50%;
    width: 90%;
    aspect-ratio: 1;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
