//COLORS
$color-white: rgba(255, 255, 255, 1);
$color-black: #000;
$color-primary-100: rgba(231, 148, 213, 1);
$color-primary-200: rgba(186, 34, 156, 1);
$color-primary-300: rgba(54, 12, 45, 1);
$color-primary-400: rgba(23, 8, 20, 1);

//FONTS
$font-primary: "Rozha One", serif;
$font-secondary: "Lora", serif;
$font-tertiary: "poppins", sans-serif;
