.contactForm {
    background-color: rgba(255, 209, 245, 0.3);
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    margin-inline: 2rem;
    overflow: visible;

    &__label {
        font-family: $font-secondary;
        font-weight: 700;
        color: $color-primary-300;
        font-size: 1.5rem;
        display: block;
    }

    &__input {
        font-family: $font-tertiary;
        font-weight: 400;
        color: $color-primary-200;
        display: block;
        background-color: $color-white;
        border: none;
        width: 100%;
        border-radius: 1rem;
        padding-inline: 1rem;
        font-size: 1.25rem;
        transition: border-bottom 0.2s ease;

        &:focus {
            border-bottom: 5px solid $color-primary-200;
        }

        &--height-medium {
            height: 3rem;
        }
    }
}
