.navigation-bar {
    background: rgba(177, 26, 147, 0.2);
    backdrop-filter: blur(10px);
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    &:hover {
        background: rgba(177, 26, 147, 0.5);
    }

    &__list {
        display: flex;
        gap: clamp(1rem, 5vw, 4rem);
        list-style: none;
        justify-content: center;
        margin-bottom: 0;
        padding: 0;

        &__link {
            text-decoration: none;
            font-size: clamp(1.5rem, 3vw, 5rem);
            color: $color-primary-200;
            font-weight: 600;
            transition: color 0.2s;

            &:hover {
                color: transparent;
                -webkit-text-stroke: 1px $color-primary-200;
            }
        }
    }
}

@supports not (backdrop-filter: blur(10px)) {
    .navigation-bar {
        background: rgba(177, 26, 147, 0.4);
    }
}

@media screen and (max-width: 576px) {
    .navigation-bar {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .navigation-bar-mobile {
        &__toggle-btn {
            display: none;

            & > svg {
                display: none;

                &.hidden {
                    display: none;
                }
            }
        }

        &__links {
            display: none;

            &.active {
                display: none;
            }

            ul {
                display: none;

                li {
                    display: none;

                    a {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .navigation-bar-mobile {
        &__toggle-btn {
            background-color: $color-black;
            width: 4rem;
            aspect-ratio: 1;
            position: fixed;
            bottom: 2.5rem;
            right: 2.5rem;
            z-index: 1000;
            border-radius: 50%;

            & > svg {
                position: fixed;
                bottom: 3.75rem;
                right: 3.35rem;
                z-index: 1000;
                cursor: pointer;

                &.hidden {
                    visibility: hidden;
                }
            }
        }

        &__links {
            position: fixed;
            inset: 0;
            width: 100vw;
            height: 100vh;
            backdrop-filter: blur(5px);
            z-index: 999;
            background-color: rgba($color-black, 0.5);

            &.active {
                display: none;
            }

            ul {
                width: 100%;
                height: 100vh;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                gap: 0.5rem;

                li {
                    transform: translateY(-1000%);

                    a {
                        text-decoration: none;
                        color: $color-white;
                        font-size: 3rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .navigation-bar-mobile {
        &__links {
            background-color: rgba($color-black, 0.9);
        }
    }
}
