.waves-divider {
    @include common-divider-properties;
    transform: translateY(100%);
    z-index: -1;

    path {
        width: 120%;
    }
}

.peak-divider {
    @include common-divider-properties;
    transform: translateY(100%);
    pointer-events: none;
}

.step-divider {
    @include common-divider-properties;
    pointer-events: none;
}
