@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");
@font-face {
    font-family: "Ruthligos";
    src: url("../fonts/Ruthligos.ttf");
}

.secondary-heading {
    font-size: clamp(4.7rem, 7.9vw, 7.2rem);
    font-family: $font-primary;
    color: $color-white;
    line-height: 0.8;

    &--portfolio {
        font-size: clamp(3.7rem, 6.5vw, 8rem);
        color: $color-primary-400;
        line-height: 1;
    }

    &--skill {
        font-size: clamp(3.7rem, 6.5vw, 8rem);
        color: $color-primary-400;
        line-height: 1;
    }
}

@media screen and (max-width: 576px) {
    .secondary-heading {
        font-size: clamp(3rem, 13vw, 7rem);
    }
}

.my-description {
    p {
        color: rgba($color-white, 0.7);
        font-size: clamp(1.15rem, 1.3vw, 2.25rem);

        font-weight: 300;
    }
}

@media screen and (max-width: 769px) {
    .my-description {
        p {
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 576px) {
    .my-description {
        p {
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .portfolioHeading {
        text-align: center;
    }
}

.contact-section {
    &__primary-heading {
        width: fit-content;
        display: inline-block;
        font-family: $font-primary;
        font-size: clamp(3.7rem, 6.5vw, 8rem);
        color: $color-primary-400;
        line-height: 1;
    }

    &__secondary-heading {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 2rem;
        color: $color-primary-300;
    }

    &__paragraph {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 1.5rem;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-primary-300;
    }
}

@media screen and (max-width: 768px) {
    .contact-section__primary-heading {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .contact-section {
        &__secondary-heading {
            font-size: 1.75rem;
        }
        &__paragraph {
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .contact-section {
        &__paragraph {
            font-size: 1.05rem;
        }
    }
}
