.u-blurredbg {
    backdrop-filter: blur(1.5px);
}

.u-pb-5rem {
    padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    .u-center-on-small-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
